<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Page from Pi</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<!-- nav bar-->
<nav>
  <a href="/html/">HTML</a> |
  <a href="/css/">CSS</a> |
  <a href="/js/">JavaScript</a> |
  <a href="/jquery/">jQuery</a>
</nav>
<input id="pac-input" class="controls" type="text" placeholder="Search Box">
<h1>I am hosted on Raspberry Pi !!!</h1>
<div id="map">
    <div>
      <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
      <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
        <script src="{{ url_for('static', filename='js/map.js') }}"></script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1Dz2eCy5DFUjp1Z3NwUhOmsxtd7y72AQ&libraries=places&callback=initAutocomplete">
        </script>
</body>
</html>
